.user_show_page {
    width: 100%;
    min-height: calc(100vh - 110px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../../public/pin.png');
    background-size: cover;
}

.user_show_container {

    position: relative;

    width: 90%;
    max-width: 800px;
    min-height: 350px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.386);
    backdrop-filter: blur(10px);

}

.user_show_container img {
    height: 220px;
    width: 220px;
    border-radius: 1000px;
    transform: translateY(10%);
    object-fit: cover;
    user-select: none;
}

.user_show_container .user_info {
    min-width: 300px;
    width: 60%;
    margin-left: 5px;
    padding-top: 30px;
    line-height: 30px;
    text-align: center;
    color: #021526;

    h1,
    h2 {
        margin-bottom: 20px;
    }
}

.user_show_container .user_log_container {

    position: absolute;
    bottom: -50px;
    left: 5%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    height: 50px;
    width: 200px;
    border-radius: 0 0 15px 15px;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.386);
    backdrop-filter: blur(10px);


    a {
        font-weight: 600;
        text-decoration: none;
        color: #021526;

    }
}