* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.pin_show_container {
    width: 100%;
    height: calc(100vh - 110px);
    min-height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-image: url('../../../public/pin.png');
    background-size: cover ;
}


.pin_container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.386);
    backdrop-filter: blur(10px);

    margin: 40px 0 35px ;
    /* changes */

    width: fit-content;


}

.pin_reaction {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -50px;
    right: 0;
}


.pin_reaction svg {
    cursor: pointer;
    user-select: none;
}

.Pin img {
    border-radius: 10px;
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    max-height: 60vh;
    background-color: #021526;
    margin-bottom: 20px;
}

.pin_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: fit-content;
    min-width: 200px;
    flex: 1;
    padding: 5px;

}

.pin_info * {
    width: fit-content;
    color: #021526;
}

.pin_info span {
    font-size: large;
    font-weight: 500;
    margin-bottom: 40px;
}

.user_section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    margin-bottom: 40px;
}

.user_section img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100px;
    object-fit: cover;
}