
/* 
    THIS FILE WILL CONTAINE STYLE OF ALL COMPONENTS IN COMPONENT/PARTIES FOLDER
*/

header {
    height: 110px;
    position: relative;
    overflow: hidden;
    z-index: 21;

    .header_container {
        height: 60px;
        background-color: #508C9B;
        border-bottom: 5px solid #134B70;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        overflow-y: hidden;
    
        .header_title {
            color: #E2E2B6;
            background-color: #021526;
    
            display: flex;
            align-items: center;
    
            width: 300px;
            height: 300px;
            margin-top: -120px;
            margin-left: -120px;
    
            border-radius: 6000px;
    
            padding-left: 130px;
            padding-top: 120px;
            box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
            border: 3px solid #E2E2B6;
        }
    }

    nav {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
    
        a {
            overflow: hidden;
            display: flex;
            margin-inline: 2px;
            width: 50px;
            height: 70px;
            background-color: #134B70;
            border-radius: 0 0 40px 40px;
            align-items: center;
            justify-content: center;
            border: 2px solid #E2E2B6;
            border-width: 0 0 2px 2px;
            color: white;
    
            box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.25);
            transition: all .125s 0s linear;
    
    
            svg {
                position: absolute;
                flex: 0 0 auto;
                height: 40px;
                width: 40px;
            }
            .setting_svg{
                height: 50px;
                width: 50px;
            }
        }
    
        a:hover {
            height: 100px;
        }
    
    }
}
 
footer {
    z-index: 2000;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    
    svg {
        fill: #E2E2B6;
    }

    .left_part {

        flex: 0 0 auto;
        position: relative;
        width: 250px;
        height: 40px;
        background-color: #021526;
        border-top: 1px solid #E2E2B6;
        border-radius: 0px 35px 0px 0px;
        color: #E2E2B6;
        z-index: 1;

        display: flex;
        align-items: center;

        .point {
            flex: 0 0 auto;
            position: absolute;
            background-color: #E2E2B6;
            border-radius: 1000px;
            width: 7px;
            height: 7px;
            top: 15px;
            right: 20px;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            color: #E2E2B6;
            margin-left: 30px;
        }
    }

    .right_part {
        z-index: 1;
        flex: 0 0 auto;
        padding: 0 20px;
        position: relative;
        width: 180px;
        height: 40px;
        background-color: #021526;
        border-top: 1px solid #E2E2B6;
        border-radius: 35px 0px 0px 0px;

        display: flex;
        align-items: center;
        justify-content: end;

        a {
            text-decoration: none;
            cursor: pointer;
            color: #E2E2B6;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
        }

    }

    .middle_part {
        background-color: #134B70;
        height: 20px;
        width: 100%;
        position: absolute;
    }

}

