/* index--------------- */
body {
    /* background-color: gray; */
}

.pin_index_container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;

    .pin_img_container {


        width: calc(100% - 40px);
        height: 100%;
        columns: 3;
        background-color: brown;

        .Pin {
            width: 100%;
            border-radius: 20px;
            margin: 5px 0;
            object-fit: cover;
            background-color: aqua;
        }
    }
}



/* chow------------ */


.pin_show_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 40px;

    .pin_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: calc(100% - 40px);

        .Pin {
            width: fit-content;
            height: fit-content;
            border-radius: 20px;
            object-fit: cover;

            max-width: 500px;
            max-height: 300px;
            margin: 5px;
        }

        .pin_info {
            background-color: #134B70;
            position: relative;
            border-radius: 20px;
            color: white;
            flex: 1;
            min-width: 300px;
            padding: 35px 20px 20px;

            .pin_like {
                border-radius: 0px 0 20px 20px;
                background-color: white;

                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                top: 0;
                right: 20px;


                svg {
                    margin: 0 10px 5px;
                }
            }

            .pin_title {
                display: inline-block;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 30px;
            }

            .user_section {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: start;
                width: fit-content;
                cursor: pointer;
                color: #E2E2B6;


                img {
                    margin: 0 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 10000000px;
                    background-color: #508c9b;
                }
            }
        }
    }
}